<div class="burger image text-center">
  <img
    src="https://media1.s-nbcnews.com/j/newscms/2019_21/2870431/190524-classic-american-cheeseburger-ew-207p_d9270c5c545b30ea094084c7f2342eb4.fit-2000w.jpg"
    width="500" height="300" alt="burger image">
</div>
<div class="jumbotron text-center" style="background-color:rgb(240, 216, 171);">
  <h1 class="display-1">Eat Da Burger!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col">
       <h2>Available!</h2>
      <ol>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </ol>
    </div>
    <div class="col">
      <h2>Devoured!</h2>
      <ol>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
  <div class="row" style = "text-align: center;">
    <h2>Add a Burger:</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="bu"></label>
        <textarea id="bu" name="name">
      </textarea>
      </div>
      <button type="submit">Submit</button>
      <br>
      <h6>Type in a new burger name and click submit to add to the list.</h6>
  </div>
  </form>
</div>